body {
  background: peachpuff;
  max-width: 1170px;
  margin: 0 auto;
  font-family: monospace;
}

/* 
  
  Containers
  
  */

.content-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
  
  Buttons
  
*/

.btn {
  display: block;
  width: 250px;
  margin-top: 2rem;
  min-width: 60px;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.4rem;
  border: 2px solid orangered;
  border-radius: 0.25rem;
}

.btn-clear {
  background: orangered;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

/* 
  
  Answer
  
  */

.answer {
  font-size: 2rem;
  margin-top: 2rem;
  min-width: 220px;
  min-height: 295px;
  padding: 1rem 0 0 1rem;
  background: white;
  border: 2px solid orange;
  border-radius: 0.25rem;
  color: rgba(36, 34, 34, 0.888);
}
