body {
  background: peachpuff;
  max-width: 1170px;
  margin: 0 auto;
}

/* 

Containers

*/

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  display: flex;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
  width: 400px;
  margin: 0 auto;
  padding: 3rem 0;
  background: rgba(202, 226, 234, 0.83);
  border: 0.25rem solid rgba(36, 34, 34, 0.483);
  border-radius: 0.25rem;
}

.input-container,
.button-container {
  margin: 0 auto;
}

/* 

Buttons

*/

.btn {
  min-width: 60px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid orangered;
  border-radius: 0.25rem;
  display: block;
  margin: 0.5rem 0;
}

.btn-clear {
  margin: 2rem 0 0 0;
}

/* 

Inputs

*/

.input {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid orange;
  border-radius: 0.25rem;
  color: rgba(36, 34, 34, 0.888);
  transition: all;
}

.input:focus {
  outline: none !important;
  border-color: orangered;
}

.answer {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 2rem 0;
  background: white;
  border: 2px solid orange;
  border-radius: 0.25rem;
  color: rgba(36, 34, 34, 0.888);
}

/* Removes arrows in the input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
