p,
h3 {
  display: inline;
}
h3 {
  margin-left: 1rem;
}

body {
  background: #d1d1d1;
  margin: 0;
}
img {
  margin-bottom: 1rem;
  width: 338px;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.content-container {
  padding: 0.5rem 3rem 3rem 3rem;
  margin: 6rem auto;
  border-radius: 0.5rem;
  background: #eceff5;
  color: #212529;
  max-width: 1170px;
}

.navbar {
  background: #eceff5;
  color: #212529;
  padding: 0.75rem 0;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 6;
}

.nav-header h2 {
  display: inline;
}

.nav-center {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;

  text-decoration: none;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #212529;
  font-size: 1.25rem;
  font-weight: bold;
}

.movie-container {
  padding: 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.movie-container:hover {
  background: #363868;
  color: #eceff5;
}

.movie-image {
  position: relative;
  border-radius: 0.5rem;
  transition: 0.3s;
  z-index: 4;
}

.movie-container:hover .movie-image {
  opacity: 0.2;
  z-index: 2;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 0 0 33.333333%;
}

.underline {
  background: #363868;
  width: 100%;
  height: 0.5rem;
  margin: 1rem 0;
}
.movie-inside {
  width: 306px;
  padding: 1rem;
  position: absolute;
  color: white;
  z-index: 3;
}

.btn,
.input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #1f2142;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  display: inline;
}

.cart-summary {
  position: relative;
  text-align: right;
}

.cart-summary:hover {
  cursor: pointer;
}

.cart-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-cart {
  padding: 0.5rem 0.5rem;
  max-width: 40px;
  background: #d1d1d1;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.input-cart:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-time {
  margin-right: 0.5rem;
  background: #d1d1d1;
}

.add-to-cart {
  margin-top: 2rem;
}

.input {
  margin-left: 0.75rem;

  width: 50px;
}

.movie-title {
  margin: 0.5rem 0;
}

.movie-desc {
  margin-bottom: 1.5rem;
}

.movie-details {
  margin: 0.5rem 0;
}

.intro-movies {
  margin-top: 1rem;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-city {
  background: #d1d1d1;
  margin-left: 0.5rem;
}

.btn-city:hover {
  background: #363868;
  color: #eceff5;
}

.cart-item-details {
  min-width: 7rem;
  text-align: left;
}

.cart-container {
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 0;
  visibility: hidden;
  background: #eceff5;
  max-width: 380px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.visible {
  visibility: visible;
}

.btn-checkout {
  transition: 0s;
  display: block;
  width: 90%;
  color: #eceff5;
  text-align: center;
  background: #363868;
  margin: 1.5rem auto;
}

.hidden {
  margin: 0;
  visibility: hidden;
}

.cart-image {
  border-radius: 0.5rem;
  max-width: 130px;
  max-height: 170px;
}

.cart-item {
  margin: 0rem 2rem 1rem 1rem;
  display: grid;
  grid-template-columns: 4fr 4fr 0.5fr;
  gap: 2rem;
}

.cart-item-empty {
  margin: 2rem 1rem;
  text-align: center;
}

.cart-item-desc {
  display: flex;

  justify-content: space-between;
}

.cart-arrow-container {
  text-align: center;
  margin: 1rem 0;
}

.cart-arrow-container:hover {
  scale: 1.25;
}

.cart-wrapper {
  overflow-y: auto;
  max-height: 350px;
}

.cart-wrapper p {
  display: block;
}

nav h2 {
  display: inline;
  margin-top: 0;
  font-size: 1.25rem;
}

.cart-container h2 {
  display: inline;
  margin-top: 0;
  font-size: 1.25rem;
}

.btn-cart {
  margin-top: 2rem;
}

.fa-face-smile,
.fa-clock,
.fa-user,
.fa-euro-sign {
  margin-top: 1rem;
}

.fa-masks-theater {
  font-size: 2rem;
}

.btn-active {
  color: #eceff5;
  background: #363868;
}
